.loader-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30vh;
    margin-top: 30vh;
}

@media (max-width: 768px) {
    .loader-container {
        height: 20vh;
        width: 100vw;
    }
}

