.layout-container {
  display: flex;
  min-height: 100vh;
  overflow: hidden;
}

.layout-main-content-container {
  flex: 1;
  padding-top: 70px;
  padding-left: 272px;
  padding-bottom: 20px;
  overflow-y: auto;
}